<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sarthakmishra.studysit">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/academics"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/academics"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Homepage" />
        <activity android:name=".studymaterialscard" />
        <activity android:name=".examdetailscard" />
        <activity android:name=".performancecard" />
        <activity android:name=".aboutcard" />
        <activity android:name=".Secondyr" />
        <activity android:name=".Thirdyr" />
        <activity android:name=".Firstyr" />
        <activity android:name=".Fourthyr" />
        <activity android:name=".FirstyrA" />
        <activity android:name=".FirstyrB" />
        <activity android:name=".FirstyrC" />
        <activity android:name=".FirstyrD" />
        <activity android:name=".FirstyrE" />
        <activity android:name=".FirstyrF" />
        <activity android:name=".RetrieveFiles">

        </activity>
    </application>

</manifest>